{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ ('https://img.freepik.com/premium-vector/e-learning-online-education-online-teacher-computer-monitor-kids-studying-home-via-internet_1207-1025.jpg') }}" alt="Mon logo">
    <h1>built with <i class="fas fa-heart"></i> by you name </h1>
    <a href="{{path('app_pages')}}">Page home</a>
{% endblock %}